global
    maxconn 1024
    daemon
    log 127.0.0.1 local0 debug

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    option  log-health-checks
    retries 3
    timeout connect 10s
    timeout tunnel  1h
    timeout client  1h
    timeout server  1h
    timeout check   10000ms

frontend stats
    bind  *:8404
    mode  http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    stats show-legends
    stats show-node


listen postgres-master
    bind       *:5000
    mode       tcp
    option     httpchk OPTIONS /master
    http-check expect status 200
    balance    roundrobin
    server node0 pg_patroni0:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2
    server node1 pg_patroni1:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2
    server node2 pg_patroni2:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2


listen postgres-replicas
    bind       *:5001
    mode       tcp
    option     httpchk OPTIONS /replica
    http-check expect status 200
    balance    roundrobin
    server node0 pg_patroni0:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2
    server node1 pg_patroni1:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2
    server node2 pg_patroni2:5432 maxconn 100 check port 8008 inter 5s fall 3 rise 2
