global
    log 127.0.0.1 local2
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user _haproxy
    group _haproxy
    daemon
    maxconn 256

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend stats
    bind *:80
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE


listen postgres-master
    bind *:8080
    mode tcp
    balance roundrobin
    option tcplog
    option tcp-check
    tcp-check send-state
    tcp-check connect !*
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
    server m0 postgres_db:5432 check


listen postgres-replicas
    bind *:8081
    mode tcp
    balance roundrobin
    option tcplog
    option tcp-check
    tcp-check send-state
    tcp-check connect !*
    default-server inter 3s fastinter 1s fall 3 rise 4 on-marked-down shutdown-sessions
    server r1 postgres_r1:5432 check
    server r2 postgres_r2:5432 check
