global
    maxconn 1024

defaults
    log     global
    mode    tcp
    option  tcplog
    retries 2
    timeout connect 5000ms
    timeout client 30000ms
    timeout server 30000ms
    timeout check  5000ms

frontend stats
    bind  *:8404
    mode  http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE


listen postgres-master
    bind       *:5000
    mode       tcp
    option     httpchk OPTIONS /master
    http-check expect status 200
    server node0 pg_patroni0:5432 maxconn 100 check port 8008
    server node1 pg_patroni1:5432 maxconn 100 check port 8008
    server node2 pg_patroni2:5432 maxconn 100 check port 8008
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions


listen postgres-replicas
    bind       *:5001
    mode       tcp
    option     httpchk OPTIONS /replica
    http-check expect status 200
    balance    roundrobin
    server node0 pg_patroni0:5432 maxconn 100 check port 8008
    server node1 pg_patroni1:5432 maxconn 100 check port 8008
    server node2 pg_patroni2:5432 maxconn 100 check port 8008
    default-server inter 3s fastinter 1s fall 3 rise 2 on-marked-down shutdown-sessions
