.vscode/

_extern/*
!_extern/.gitkeep

**/*.pb.*

postgres_db
replication/postgres_m0_data
replication/postgres_r1_data
replication/postgres_r2_data
sharding/healthcheck_volume
sharding/postgres_master_data
service/cmake-build

*.o
*.a
*.d
