.vscode/

_extern/*
!_extern/.gitkeep

**/*.pb.*

postgresql/single
postgresql/replication/postgres_m0_data
postgresql/replication/postgres_r1_data
postgresql/replication/postgres_r2_data
postgresql/sharding/healthcheck_volume
postgresql/sharding/postgres_master_data

service/cmake-build

*.o
*.a
*.d
